.client-selector {
  display:  table;
  width:    100%;

  > div {
    display: table-cell;
    padding: 0 5px;

    select {
      width: calc(~"100% - 2px");
    }

    input {
      width: calc(~"100% - 14px");
      cursor: text;
    }
  }

}
