<h4>Response fields</h4>
The following is a description of the values returned by the request:
<ul>
  <li><code>start</code>: The absolute number (considering all log entries) of the first entry in the page.</li>
  <li><code>length</code>: The amount of entries in the page (can only be different than <code>limit</code> in the last page).</li>
  <li><code>total</code>: The amount of entries in the page.</li>
  <li><code>limit</code>: The maximum amount of items in a page.</li>
  <li><code>logs</code>: A collection of log entries.
    <ul>
      <li><code>date</code>: The moment when the event occured.</li>
      <li><code>connection</code>: The connection related to the event.</li>
      <li><code>client_id</code>: The id of the client related to the event.</li>
      <li><code>client_name</code>: The name of the client related to the event.</li>
      <li><code>ip</code>: The IP address from where the request that caused the log entry originated.</li>
      <li><code>user_id</code>: The user id releated to the event.</li>
      <li><code>user_name</code>: The user name releated to the event.</li>
      <li><code>description</code>: The event&apos;s description.</li>
      <li><code>user_agent</code>: The user agent that was used to cause the creation of the log entry.</li>
      <li><code>type</code>: An abbreviation of the event type. Refer to the event acronym mappings below for the mapping between abbreviations and their meaning.</li>
      <li><code>details</code>: Additional (and very useful) details about the event. They don&apos;t have a specific schema as they vary based on event type.</li>
    </ul>
  </li>
</ul>

<h5>Event acronym mappings</h5>
The following is the meaning of the event acronyms:
<ul>
  <li><code>s</code>:Success Login</li>
  <li><code>f</code>:Failed Login</li>
  <li><code>fu</code>:Failed Login (invalid email/username)</li>
  <li><code>fp</code>:Failed Login (wrong password)</li>
  <li><code>fc</code>:Failed by Connector</li>
  <li><code>fco</code>:Failed by CORS</li>
  <li><code>con</code>:Connector Online</li>
  <li><code>coff</code>:Connector Offline</li>
  <li><code>ss</code>:Success Signup</li>
  <li><code>fs</code>:Failed Signup</li>
  <li><code>sv</code>:Success Verification Email</li>
  <li><code>fv</code>:Failed Verification Email</li>
  <li><code>scp</code>:Success Change Password</li>
  <li><code>fcp</code>:Failed Change Password</li>
  <li><code>sce</code>:Success Change Email</li>
  <li><code>fce</code>:Failed Change Email</li>
  <li><code>svr</code>:Success Verification Email Request</li>
  <li><code>fvr</code>:Failed Verification Email Request</li>
  <li><code>scpr</code>:Success Change Password Request</li>
  <li><code>fcpr</code>:Failed Change Password Request</li>
  <li><code>fn</code>:Failed Sending Notification</li>
</ul>