  <% if (typeof readOnly !== 'undefined' && readOnly === true) { %>
    <p class="alert alert-warning ">
      You are on read only mode. If you want to interact with the API you will need to <a href="https://app.auth0.com">login in first.</a>
    </p>
  <% } %>
