<div id="sdk-api" class="api-explorer nocode">
	<div id="content-header">
		<h1>Management API v1 (deprecated)</h1>
		<i class="loading-spin icon-spinner icon-spin icon-large"></i>
	</div>
	<div class="row-fluid">
		<div class="span12" id="sdk-api-content">
			<blockquote class="warning">
				<p><strong>WARNING:</strong> This version of the Management API has been deprecated. <br> Please use the <a href="/docs/api/v2">new version</a> instead.</p>
			</blockquote>
<% include ./templates/read_only_warning %>
<% include ./templates/sdk_api %>
		</div>
	</div>
</div>
