<section id="sdk-auth-api" data-route="/sdk/auth_api" data-title="SDK Authentication API | Auth0" class="content-page">
	<div id="content-header">
		<h1>API Explorer | Authentication API</h1>
		<i class="loading-spin icon-spinner icon-spin icon-large"></i>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
<% include read_only_warning.ejs %>
			<div class="span12" id="sdk-auth-api-content">
<% include sdk_auth_api.ejs %>
			</div>
		</div>
	</div>
</section>
