<div id="sdk-auth-api" class="api-explorer nocode">
	<div id="content-header">
		<h1>Authentication API</h1>
		<i class="loading-spin icon-spinner icon-spin icon-large"></i>
	</div>
	<div>
		<div class="row-fluid">
<% include ./templates/read_only_warning %>
			<div class="span12" id="sdk-auth-api-content">
<% include ./templates/sdk_auth_api %>
			</div>
		</div>
	</div>
</div>
